:root {
    --azul-dark: #36557D;
    --azul-medium: #6C91C0;
    --azul-light: #91A3BA;
    --azul-box: #F1F4F9;
    --branco: #FFFFFF;
}

#header-login {
    width: 100%;
    height: 12rem;
    margin: 0 auto 3rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff6b;
}

#header-login img,
.header-left img {
    height: 100%;
}

#header {
    width: 100%;
    height: 12rem;
    margin: 0 auto 3rem;
    padding: 1rem 6%;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff6b;
    color: var(--azul-dark);
}

.header-links {
    width: 100%;
    padding: 0 0 0 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    /* border: rgb(0, 255, 13) 1px solid; */
}

.header-greetings {
    min-width: 15rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* border: red 1px solid; */
}

.header-greetings img {
    height: 1.3rem;
}

.header-links a,
.header-greetings,
.logout {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    color: var(--azul-dark);
    font-weight: 800;
    /* border: red 1px solid; */
}

.header-links a,
.header-greetings {
    border-bottom: 2px solid transparent;
    transition: border-bottom ease 0.8s;
}

.header-links a:hover,
.header-links a.active {
    border-bottom: 2px solid var(--azul-dark);
    cursor: pointer;
}

.logout:hover {
    color: var(--azul-dark);
    cursor: pointer;
}

.header-greetings button {
    all: unset;
    cursor: pointer;
    color: var(--azul-light);
    border-bottom: 2px solid transparent;
}

@media (max-width: 1024px) {
    #header-login {
        position: fixed;
        left: 0;
        top: 0;
        height: 13rem;
        margin: 0 auto;
        background-color: #ffffffb9;
        /* border: red 1px solid; */
    }

    #header {
        position: fixed;
        left: 0;
        top: 0;
        height: 13rem;
        margin: 0 auto;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffffb9;
    }
    
    .header-left img {
        height: 6rem;
    }

    #header-login img {
        height: 100%;
    }


    .header-links {
        order: 1;
        width: 100%;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    .header-greetings {
        width: 100%;
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-links a,
    .header-greetings,
    .logout {
        font-weight: 400;
        font-size: 1.2rem;
        font-weight: 800;
    }
}